{% extends 'main/base.html' %}
{% load static %}
{% block content %}
  <div class="row justify-content-center">
      <h1>Course Update</h1>
                <div class="col-lg-8">
                    <div class="contact-form bg-secondary rounded p-5">
                        <div id="success"></div>
                        <form  method="POST">
                            {% csrf_token %}
                            <div class="control-group">
                                <input type="text" class="form-control border-0 p-4" name="title" value="{{course.title}}" placeholder="Title" required="required" data-validation-required-message="Please enter your name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <<div class="control-group">
                                <input class="form-control border-0 py-3 px-4" name="description" value="{{course.description}}" placeholder="Description" required="required" data-validation-required-message="Please enter your message"></input>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="number" class="form-control border-0 p-4" name="price" value="{{course.price}}" placeholder="Price" required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                             <div class="control-group">
                                <input type="number" class="form-control border-0 p-4" name="rating" value="{{course.rating}}" placeholder="Rating" required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="number" class="form-control border-0 p-4" name="active_students" value="{{course.active_students}}" placeholder="Active Students" required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
       </div>
</form>
{% endblock %}